.page {
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
    color: #ffff;
    font-family: 'Inter';
    background-color: #2A2C2F;
}

.page-content {
    margin: 0 auto;
    padding: 0px 48px;
    max-width: 1184px;
}

@media (max-width: 768px) {
    .page-content {
        padding: 0px 24px;
    }
}

@media (max-width: 350px) {
    .page-content {
        padding: 0px 16px;
    }
}

.header {
    margin: 0 auto;
    padding-top: 28px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
}

.header__links {
    display: flex;
    align-items: center;
    padding: 0;
    margin-left: auto;
    gap: 18px;
}

.header__link {
    display: flex;
    max-width: 78px;
    padding: 0;
    margin: 0;
    margin-top: 46px;

}

.header__link_lang-link {
    margin: 0 auto;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #ffff;
    list-style: none;
    row-gap: 20px;
}

.header__logo {
    background-image: url(./images/__logo.svg);
    width: 176px;
    height: 52px;
}

.lead {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffff;
}

.lead__title {
    margin: 0 auto;
    max-width: 720px;
    font-size: 6rem;
    line-height: 1;
    text-align: center;
    margin-top: 52px;
}

.lead__subtitle {
    max-width: 640px;
    margin: 0 auto;
    margin-top: 32px;
    text-align: center;
    font-size: 30px;
    line-height: 2, 25;
}

.lead__image {
    margin: 0 auto;
    padding: 0px;
    margin-top: 64px;
    display: flex;
    height: 615px;
    width: 984px;
}

.lead__caption {
    margin: 0;
    padding: 0px;
    height: 14px;
    width: 158px;
    font-size: 10px;
    line-height: 14px;
    font-weight: 400;
    text-align: left;
    padding: 0px 148px;
}

.intro {
    margin: 0;
    margin-left: 148px;
    padding: 0px;
    max-width: 690px;

}

.intro__title {
    margin: 0;
    max-width: 690px;
    font-size: 54px;
    line-height: 58px;
    margin-top: 92px; 
}

.intro__text {
    margin: 0;
    color: rgba(255, 255, 255, 0.496);
    max-width: 690px;
    min-height: 208px;
    font-size: 1rem;
    line-height: 26px;
    margin-top: 40px;
    color: rgba (255, 255, 255, 1);
    font-weight: 400;
}

.intro__lists {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 33px;
    max-width: 690px;
    font-size: 12px;
    line-height: 18px;

}

.intro__list {
    font-weight: 400;
}

.intro__list-accent {
    font-weight: 700;
}
.photo-grids{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
}
.photo-grid{
    margin: 0 auto;
    display: grid;
    margin-top: 90px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 16px 16px;
}
.photo__grid-image {
    width: 284px;
    height: 213px;
    background-size: cover;
    background-position: center;
    
  }
.photo__grid-image-item-1{
    background-image: url(./images/__item-1.jpg);
}
.photo__grid-image-item-2{
    background-image: url(./images/__item-2.jpg);
}
.photo__grid-image-item-3{
    background-image: url(./images/__item-3.jpg);
}
.photo__grid-image-item-4{
    background-image: url(./images/__item-4.jpg);
}
.photo__grid-image-item-5{
    background-image: url(./images/__item-5.jpg);
}
.photo__grid-image-item-6{
    background-image: url(./images/__item-6.jpg);
}
.photo__grid-image-item-7{
    background-image: url(./images/__item-7.jpg);
}
.photo__grid-image-item-8{
    background-image: url(./images/__item-8.jpg);
}
.photo__grid-image-item-9{
    background-image: url(./images/__item-9.jpg);
}
.photo__grid-image-item-10{
    background-image: url(./images/__item-10.jpg);
}
.photo__grid-image-item-11{
    background-image: url(./images/__item-11.jpg);
}
.photo__grid-image-item-12{
    background-image: url(./images/__item-12.jpg);
}