/*{border: 1px solid royalblue}*/
.page {
    margin: 0 auto;
    color: #ffff;
    font-family: 'Inter','Arial', sans-serif;
    background-color: #2A2C2F; 
}

.header__content {
    margin: 0 auto;
    padding: 0px 48px;
}
@media screen and (min-width: 1024px) and (max-width: 1279px){
    .header__content{
        margin: 0;
        padding: 0px 48px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .header__content{
        padding: 0px 24px;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .header__content{
        padding: 0px 16px;
    }
}

.header {
    margin: 0 auto;
    padding: 28px 0px 56px;
    display: flex;
    align-items: flex-end;
    max-width: 1184px;
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .header{
        max-width: 928px;
    }
}
@media screen and (min-width: 768px) and (max-width:1023px){
    .header{
        width: 100%;
        box-sizing: border-box;
        padding: 16px 24px 61px 24px;
    }
}
@media screen and (min-width: 320px) and (max-width:767px){
    .header{
        width: 100%;
        box-sizing: border-box;
        padding: 16px 16px 48px;
    }
}


.header__link {
    padding: 0;
    margin: 0;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    gap: 18px;
}

@media screen and (max-width: 320px) {
    .header__link{
        margin-left: auto;
        padding-bottom: 8px;
        gap: 18px;
    }
}

.header__link_lang-link {
    margin: 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #ffff;
    list-style: none;
}
@media screen and (min-width: 320px) and (max-width: 767px)  {
    .header__link_lang-link{
        margin: 0;
        font-size: 18px;
        line-height: 20px;
    }
}
.header__link_lang-link-select{
    text-decoration: underline;
}

.header__logo {
    background-image: url(./images/__logo.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 176px;
    height: 52px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .header__logo{
        width: 142px;
        height: 42px;
    }
}

.lead {
    margin: 0 auto;
    max-width: 984px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffff;  
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .lead{
        max-width: 928px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .lead{
        max-width: 768px;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .lead{
        max-width: 320px;
    }
}

.lead__title {
    margin: 0 auto;
    max-width: 720px;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
}
@media screen and (min-width: 320px) and (max-width:767px) {
    .lead__title{
        max-width: 288px;
        font-size: 40px;
        line-height: 44px;
    }
}

.lead__subtitle {
    max-width: 640px;
    margin: 0 auto;
    margin-top: 38px;
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    align-self: center;  
}
@media screen and (min-width: 1024px) and (max-width:1279px) {
    .lead__subtitle{
        margin-top: 24px;

    }
}
@media screen and (min-width: 768px) and (max-width:1023px) {
    .lead__subtitle{
        margin-top: 27px;
        font-size: 30px;
        line-height: 36px;
        margin-top: 32px;
    }
}
@media screen and (min-width: 320px) and (max-width:767px){
    .lead__subtitle{
        font-size: 16px;
        line-height: 24px;
        margin-top: 14px;
    }
}

.lead__image {
    max-width: 100%;
    margin-top: 64px;
    align-self: center;  
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .lead__image{
        margin-top: 57px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .lead__image{
        margin-top: 57px;
    }
}
@media screen and (min-width: 320px) and (max-width:767px){
    .lead__image{
        max-width: 320px;
        margin-top: 35px;
    }
}

.lead__caption {
    margin: 0;
    margin-top: 14px;
    padding: 0px;
    font-size: 10px;
    line-height: 0.7em;
    font-weight: 400;
    letter-spacing: 1.5px;
    text-align: left;
    align-self: start; 
}
@media screen and (max-width: 768px) {
    .lead__caption{
        padding-left: 25px;
    }
}

.intro {
    margin: 0;
    padding: 0px;
    max-width: 690px;
}
 @media screen and (max-width: 768px) {
    .intro{
        padding-left: 24px;
        max-width: 720px;
    }
}
@media screen and (max-width: 320px) {
    .intro{
        padding-left: 18px;
        max-width: 280px;
    }
}

.intro__title {
    max-width: 690px;
    font-size: 54px;
    line-height: 58px;
    margin-top: 97px; 
    letter-spacing: 0.3px;
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .intro__title{
        margin-top: 92px; 
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
    .intro__title{
        margin-top: 89px; 
    }
}
@media screen and (min-width: 320px) and (max-width:767px) {
    .intro__title{
        max-width: 248px;
        font-size: 32px;
        line-height: 35px;
        margin-top: 66px; 
    }
}

.intro__text {
    display: flex;
    margin: 0;
    color: rgba(255, 255, 255, 0.496);
    max-width: 690px;
    min-height: 208px;
    font-size: 16px;
    line-height: 1.6em;
    margin-top: 44px;
    color: #ffff;
    font-weight: 400;
}
@media screen and (max-width: 768px) {
    .intro__text{
        max-width: 720px;  
    }
}
@media screen and (max-width: 320px) {
    .intro__text{
        max-width: 310px;
        line-height: 24px;
        margin-top: 40px;
    }
}

.intro__lists {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 33px;
    max-width: 690px;
    font-size: 12px;
    line-height: 1.4em;
}
@media screen and (max-width: 320px) {
    .intro__lists{
        margin-top: 28px;
    }
}

.intro__list {
    font-weight: 400;
}

.intro__list_accent {
    font-weight: 700;
}
.gallery{
    width: 100%;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .gallery{
        margin: 0 auto;
        width: 928px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .gallery{
        width: 720px;
    }
}
@media screen and (min-width: 320px) and (max-width:767px){
    .gallery{
        width: max(100%,288px);
    }
}
@media screen and (min-width: 320px){
    .gallery{
        width: 100%; 
    }
}

.gallery__grid{
    max-width: 1184px;
    margin: 0 auto;
    display: grid;
    margin-top: 95px;
    object-fit: cover;
    grid-template-columns: repeat(auto-fit, minmax(284px,1fr));
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 16px 16px;
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .gallery__grid{
        margin-top: 94px;
        max-width: 928px;
        grid-template-columns: repeat(auto-fit,1fr);
        grid-template-rows: repeat(1fr);
        gap: 14px 14px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .gallery__grid{
        margin-top: 85px;
        max-width: 720px;
        grid-template-columns: repeat(auto-fit,1fr);
        gap: 16px 16px;
    }
}
@media screen and (min-width: 320px) and (max-width:767px){
    .gallery__grid{
        margin-top: 67px;
        max-width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(100%,1fr));
        row-gap: 12px;
    }
}
.gallery__grid_image {
    max-width: 100%;
    background-size: cover;
  }
  @media screen and (min-width: 1024px) and (max-width: 1279px){
    .gallery__grid_image{
        max-width: 300px;
        min-height: 225px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
    .gallery__grid_image{
        max-width: 352px;
        min-height: 264px;
    }
}
  @media screen and (min-width: 320px) and (max-width:767px) {
    .gallery__grid_image{
        margin: 0 auto;
        max-width: 288px;
        min-height: 216px;
    }
}

.places{
    margin: 0 auto;
    padding: 0;
    margin-top: 64px;
    max-width: 100%;
    display: grid;
}
@media screen and (min-width: 1280px) and (max-width: 1300px) {
    .places{
        max-width: 98;
        margin-top: 92px;
        row-gap: 80px;

    }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .places{
        max-width: 928px;
        margin-top: 92px;
        row-gap: 80px;

    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .places{
        max-width: 720px;
        row-gap: 62px;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px){
    .places{
        max-width: 100%;
        margin-top: 61px;
        row-gap: 70px;
    }
}

.place{
    margin: 0 auto;
    padding: 0;
    display: grid;
}
@media screen and (min-width: 1280px){
    .place{
        max-width: 984px;
        grid-template-columns: 1fr 40px 1fr;
        grid-template-rows: auto(auto-fit) auto (auto-fit);
        grid-template-areas: 
        'title . website'
        'images . paragraph';
        row-gap: 48px;

    }
}
@media screen and (min-width: 1024px) and (max-width: 1279px){
    .place{
        max-width: 928px;
        grid-template-columns: 1fr 32px 1fr;
        grid-template-rows: auto(auto-fit) auto (auto-fit);
        grid-template-areas: 
        'title . website'
        'images . paragraph';
        row-gap: 48px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place{
        max-width: 720px;
        margin: 0 auto;
        grid-template-columns: 1fr 28px 1fr;
        grid-template-rows: auto(auto-fit) auto(auto-fit);
        grid-template-areas: 
        'title . website'
        'images . paragraph';
        row-gap: 48px;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .place{
        max-width: 320px;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
        'title'
        'website'
        'images'
        'paragraph';
        row-gap: 32px;
    }
}

.place__title{
    margin: 0;
    font-size: 72px;
    line-height: 76px;
    grid-area: title;
    align-self: baseline;
    letter-spacing: 2px;
}

@media screen and (min-widht: 1280px) and (max-width: 1300px) {
    .place__title{
        font-size: 72px;
        line-height: 76px;
    }
}
@media screen and (max-width: 1024px) and (max-width: 1279px){
    .place__title{
        font-size: 72px;
        line-height: 76px;
    }
}
@media screen and (max-width: 768px) and (max-width: 1023px){
    .place__title{
        width: 350px;
        font-size: 42px;
        line-height: 46px;
    }
}
@media screen and (max-width: 320px) {
    .place__title{
        width: 288px;
        font-size: 32px;
        line-height: 35px;
        margin-left: 16px;
    }
}
.place__images{
    margin-left: 0;
    max-width: 100%;
    background-size: cover;
    grid-area: images;   
}
@media screen and (min-width: 1280px) and (max-width: 1285px){
    .place__images{
        max-width: 460px;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1279px){
    .place__images{
        max-width: 440px;
    }
}
@media screen and (max-width: 768px) {
    .place__images{
        max-width: 340px;
    }
}
@media screen and (max-width: 320px) {
    .place__images{
        max-width: 320px;
    }
}

.place__website{
    margin: 0;
    padding: 0;
    list-style: none;
    grid-area: website;
    display: flex;
    flex-direction: column;
    align-self: end;
}
/*@media screen and (min-width: 320px) and (max-width:767px){
    .place__website{
       margin: 32px 0px 32px;
    }
}*/
@media screen and (max-width: 320px){
    .place__website{
       padding-left: 16px;
    }
}
.place__website_link{
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: #ffff;
    margin-bottom: 20px;

}
.place__website_link:hover{
    opacity: 0.4; 
    text-decoration-line: underline;
}
.place__website_url{
    color:  #AAAAAA;
    font-size: 12px;
    line-height: 1em;
    letter-spacing: 3px;
    font-weight: 400;
    margin-bottom: 20px;

}

.place__paragraph{
    margin: 0 auto;
    padding: 0;
    font-size: 18px;
    line-height: 1.7em;
    font-weight: 400;
    grid-area: paragraph;
    align-self: start;
    display: grid;
    flex-direction: column;
    row-gap: 17px; 
}
@media screen and (max-width: 768px) {
    .place__paragraph{
        font-size: 16px;
        line-height: 26px;
    }
}
@media screen and (max-width: 320px) {
    .place__paragraph{
        margin: 0px 16px 0px 16px;
        font-size: 16px;
        line-height: 26px;
        row-gap: 25px; 
    }
}
.place__paragraph_text{
    margin: 0;   
}
.cover{
    margin: 0 auto;
    padding: 0;
    background-image: url(./images/__background-baikal.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1184px;
    min-height: 740px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative; 
    z-index: 0; 
}
@media screen and (min-width: 1280px) and (max-width: 1300px) {
    .cover{
        margin-top: 92px;
        
    }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .cover{
        max-width: 1024px;
        min-height: 640px;
        margin-top: 92px;
        display: flex;
        padding: 0;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .cover{
        max-width: 768px;
        margin-top: 66px;
        display: flex;
        padding: 0;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px){
    .cover{
        max-width: 320px;
        min-height: 200px;
        margin-top: 98px;
        display: flex;
        padding: 0;
    }
}
.cover__link{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    color: #ffff;
}
.cover::after{
    content: "";
    position: absolute;
    background-color: rgba(42,44,47,0.3);
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    opacity: 0.3;
    transition: background-color .2s linear; 
    z-index: 1;
}

.cover:hover:after{
    background-color: rgba(42,44,47,1);
    opacity: 0.8; 
}
.cover__title{
    margin: 0 auto;
    max-width: 560px;
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
    display: flex;
    vertical-align: middle;
    text-align: center;
    position: relative;
    z-index: 3;  
}

@media screen and (min-width: 320px) and (max-width: 767px){
    .cover__title{
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
    }
}
.cover__subtitle{
    margin: 0 auto;
    margin-top: 31px;
    max-width: 360px;
    font-size: 18px;
    line-height: 1.2em;
    font-weight: 400;
    text-align: center;
    position: relative;
    z-index: 3;
}
@media screen and (max-width: 320px) {
    .cover__subtitle{
        max-width: 288px;
        font-size: 14px;
        line-height: 16px;
        margin-top: 16px;
    }
}
.footer{
    margin: 0 auto;
    margin-top: 78px;
    padding: 0;
    max-width: 1184px;
}
@media screen and (min-width: 1024px) and (max-width: 1279px)  {
    .footer{
        max-width: 928px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .footer{
        max-width: 720px;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px)  {
    .footer{
        max-width: 186px;
        margin: 67px 0px 0px 16px;
    }
}

.footer__links{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 19px;
    align-items: center;
    position:relative;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .footer__links{
        gap: 18px;
        font-size: 16px;
        line-height: 18px;   
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .footer__links{
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
        font-size: 24px;
        line-height: 24px;   
    }
}
.footer__link{
    color: #ffff;
    text-decoration: none;
    justify-content: space-between;
}
.footer__link:hover{
    opacity: 0.6; 
}
.footer__copyright{
    margin-left: auto;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .footer__copyright{
        font-size: 14px;
        line-height: 14px;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .footer__copyright{
        font-size: 14px;
        line-height: 16px;
        align-items: flex-start;
        margin: 0;
    }
}
