.place__website-link {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: #ffff;
    margin-bottom: 20px;
}

.place__website-link:hover {
    opacity: 0.4;
    text-decoration-line: underline;
}